.container {
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fafafa;
  height: 400px;
}

.heading {
  margin-bottom: 20px;
}

.input {
  display: block;
  margin: 0 auto;
}

.button {
  margin: 20px auto 0;
  width: 256px;
  outline: none;
}

/* ugly hack for not getting inputs with yellow background */
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #fafafa inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}
